<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OrganizeYourMeet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </style>
</head>
<body>

    <div class="title-bar">
        <div><strong><a class="signin-link" href="/">OrganizeYourMeet</a></strong></div>
        <div class="avatar">
            <a class="signin-link" href="/login">☻</a>
        </div>
    </div>

    <div class="navbar">
        <div class="navbar-left">
            <a href="/new-event">New Event</a>
            <a href="/your-events">Your Events</a>
        </div>
        {% if username != "" %}
            <a href="/calendar">{{ username }}</a>
        {% else %}
            <a href="/login">Login</a>
        {% endif %} 
    </div>

    <div class="main">
        <p>
            Arrange your meetings, hangouts and gossip sessions right here, right now!<br>
            Just sign up, create an event and share the link!
        </p>
    </div>

</body>
</html>
