<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OrganizeYourMeet - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="title-bar">
    <div><strong><a class="signin-link" href="/">OrganizeYourMeet</a></strong></div>
    <div class="avatar">
        <a class="signin-link" href="/login">☻</a>
    </div>
</div>

<div class="navbar">
    <div class="navbar-left">
        <a href="/new-event">New Event</a>
        <a href="/your-events">Your Events</a>
    </div>
    {% if username != "" %}
        <a href="/calendar">{{ username }}</a>
    {% else %}
        <a href="/login">Login</a>
    {% endif %} 
</div>

<div class="auth-container">
    <form class="auth-form" action="/register" method="POST">
        <h2>Sign Up!</h2>
        <input type="text" name="username" placeholder="Username" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirm_password" placeholder="Retype your password" required>
        <button type="submit">Register</button>
    </form>

    <form class="auth-form" action="/login" method="POST">
        <h2>Log In!</h2>
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Log in</button>
    </form>
</div>

</body>
</html>
